.rooms-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem 2rem;
}

:host ::ng-deep .first-btn {
  float: right;
  margin: 2rem;
  background-color: var(--accent);
}

/* Nth as in 2nd, 3rd, 4th, etc. */
:host ::ng-deep .nth-btn {
  float: right;
  margin: 2rem 0 2rem 2rem;
  background-color: var(--accent);
}

app-add-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

app-add-reservation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
