.rooms-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem 2rem;
}

.aux-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

:host ::ng-deep .first-btn {
  margin: 2rem 0;
  background-color: var(--accent);
}

/* Nth as in 2nd, 3rd, 4th, etc. */
:host ::ng-deep .nth-btn {
  margin: 2rem 0;
  background-color: var(--accent);
}

app-add-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

app-add-reservation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.spacer {
  margin: 2rem 0;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight {
  background: var(--accent);
  color: black;
}

@media only screen and (max-width: 600px) {
  .rooms-container {
    justify-content: center;
    align-items: center;
  }
}
